<!-- 首页 -->
<!-- 首页样式 -->
<%- css('css/index.css') %>
<!-- 标题块 -->
<div class="title-block">
    <p class="big-title"><%- config.title %></p>
    <p class="sm-title"><%- config.subtitle %></p>
</div>
<!-- 文章列表 -->
<div class="post-list">
<!--     <a class="post" href="">
        <div class="info">
            <p class="title">测试模组</p>
            <p class="introduction of-ellipsis_2">
                内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息
            </p>
            <div class="meta">
                <i class="icons i-date"><p class="of_ellipsis">2020年8月12日14:06:22</p></i>
                <i class="icons i-msg"><p class="of_ellipsis">----</p></i>
                <i class="icons i-see"><p class="of_ellipsis">----</p></i>
            </div>
        </div>
        <div class="fliter-img" style="background-image: url(/img/bgi_2.jpg);"></div>
        <div class="rotating-block">
            <div class="reverse-rotation-block">
                <div class="image-block">
                    <img src="/img/bgi_2.jpg">
                </div>
            </div>
        </div>
    </a> -->

<%
    page.posts.forEach(post => {
        let excerptStr = post.excerpt.replace(/<\/?[^>]+>/g,""),
            contentStr = post.content.replace(/<\/?[^>]+>/g,""),
            maxNum = 52,
            readTime = Math.ceil(contentStr.length / 200),
            releaseDate = new Date(post.date).toLocaleString("zh-CN",{hour12: false, year:'numeric', month:'long', day:'numeric', hour:'2-digit',minute:'2-digit',second:'2-digit'}),
            categories = post.categories.length ? post.categories.data[post.categories.length - 1] : {name:"有个笨蛋忘记设置分类了"};
            preface = "";
        if (excerptStr.length > maxNum) {
            preface = excerptStr.substr(0,maxNum)+"...";
        } else {
            preface = excerptStr;
        }
        console.log(post.categories)
%>
    <a class="post" href="<%- post.permalink %>">
        <div class="info">
            <p class="title"><%- post.title %></p>
            <span class="introduction of-ellipsis-2">
                <%- preface %>
            </span>
            <div class="meta" data-id="<%- post._id %>">
                <i class="icons i-date"><p class="of-ellipsis"><%- releaseDate %></p></i>
                <i class="icons i-read"><p class="of-ellipsis" title="大概阅读时间 <%- readTime %> 分钟"><%- readTime %> 分钟</p></i>
                <i class="icons i-archives"><p class="of-ellipsis"><%- categories.name %></p></i>
            </div>
        </div>
        <div class="fliter-img" style="background-image: url(<%- post.picture %>);"></div>
        <div class="rotating-block">
            <div class="reverse-rotation-block">
                <div class="image-block">
                    <div class="img" style="background-image: url(<%- post.picture %>);"></div>
                </div>
            </div>
        </div>
    </a>
<%
    })
%>
</div>