<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%- config.title %></title>
	<!-- 主要样式 -->
	<%- css('css/main.css') %>
	<!-- 图标 -->
	<!-- <%- css('css/iconfont.css') %> -->
	<%- css('//at.alicdn.com/t/font_3205213_le376armc6m.css') %>
</head>
<body>
	<div id="main" style="background-image: url(<%- theme.backgroundImage %>);">
		<!-- 顶部导航 -->
		<header id="header-nav">
			<%- include('header-nav.ejs') %>
		</header>

		<!-- 左侧栏 -->
		<aside id="left-aside">
			<%- include('left-aside.ejs') %>
		</aside>

		<!-- 正文 -->
		<div id="main-block">
			<!-- 居中内容块 -->
			<div class="center-block">
			    <!-- 加载条 -->
			    <div class="loading-bar"></div>
			    <!-- 主内容 -->
				<%- body %>
			</div>
			<div id="right-aside">
				<%- include('right-aside.ejs') %>
			</div>
		</div>
	</div>
</body>
<!-- 脚本 -->

<%- js('js/main.js')%>
<%- js('js/SmoothScroll.min.js')%>
</html>