
<div class="right-aside">
	<!-- 切换栏 -->
    <div class="switch-table">
    	<div class="btn-item">
    		<span class="active-bar"></span>
    		<div title-del="随机文章" class="btn">
    			<i class="icons i-random"></i>
    		</div>
    		<div title-del="热门文章" class="btn">
    			<i class="icons i-hot"></i>
    		</div>
    		<div title-del="最新回复" class="btn">
    			<i class="icons i-message"></i>
    		</div>
    	</div>
    	<div class="switch-list">
    		<div class="list-row">
    			<div class="row-title">
    				随便看看
    			</div>
    			<div class="row-title">
    				最近更新
    			</div>
    			<div class="row-title">
    				分类
    			</div>
    		</div>

<%
	let maxLength = 6,
		postList = site.posts.data,
		latestUpdate = [],
		ranPost = [];

		maxLength = postList.length > maxLength ? maxLength : postList.length;

		postList.forEach(post => {
			latestUpdate.push(post);
		})

		// 按照更新时间排序
		latestUpdate.sort((posa,posb) => {
			return new Date(posb.updated) - new Date(posa.updated);
		})
		latestUpdate = latestUpdate.splice(0,maxLength);

		postList.forEach(post => {
			ranPost.push(post);
		})
		// 随机打乱
		ranPost.sort(() => 0.5 - Math.random());


%>
    	<div class="list-row">
			<div class="row-box" data-id="">
			    <a href="" class="of-ellipsis-2"></a>
			    <i class="icons i-tag of-ellipsis msg-tag" >---</i>
			    <div class="bgi">
			        <img src="">
			    </div>
			</div>
			<div class="row-box">
			    <a href="" class="of-ellipsis-2">加载中...</a>
			    <i class="icons i-tag of-ellipsis msg-tag" >---</i>
			    <div class="bgi">
			        <img src="">
			    </div>
			</div>
			<div class="row-box">
			    <div class="user-avatar">
			        <img src="/img/un_avatar.png">
			    </div>
			    <div class="on-msg">
			        <a href="" title="加载中..." class="of-ellipsis">加载中...</a>
			        <p class="msg-content of-ellipsis-2">加载中...</p>
			    </div>
			</div>
		</div>



<!--     		<div class="list-row">
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">随机推荐-标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">最热-标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <div class="user-avatar">
			            <img src="/img/un_avatar.png">
			        </div>
			        <div class="on-msg">
			            <a href="" title="跳转到留言文章" title="用户名" class="of-ellipsis">用户名</a>
			            <p class="msg-content of-ellipsis-2">留言内容</p>
			        </div>
			    </div>
			</div> -->

			
    	</div>
    </div>
    <!-- 标签云 -->
    <div class="tag-cloud">
    	<p class="title" title="找找有没有你感兴趣的?">标签</p>
    	<div id="cloud-box">
<%
	// 标签
	let tags = [],
		tagArr = [];
	site.tags.forEach(el => {
		tags.push(el);
	})
	tags.sort((d1,d2) => d2.length - d1.length);
	tags.forEach(el => {
%>
			<a href="<%- el.permalink %>">
    			<p><%- el.name %></p>
    			<div class="fixed-tag">
    				这有<%- el.length %>篇文章
    			</div>
    		</a>
<%
	})
%>
    	</div>
    </div>
</div>
<%- js('js/chineseColor.js') %>
<%- js('js/wordcloud2.js') %>
<script type="text/javascript">
	let ranNum = Math.floor(Math.random()*chineseColor.length),
		getColor = function () {
			++ranNum;
			if (!chineseColor[ranNum]) {
				ranNum = 0;
			}
			return chineseColor[ranNum][1];
		}
	let cloudEl = document.querySelector("#cloud-box");
		// cloudEl.width = 220 * 2;
		// cloudEl.height = 180 * 2;

	// dom词云模式
	if (false) {
		let cloudData = JSON.parse(decodeURIComponent("<%= encodeURIComponent(JSON.stringify(tagArr)) %>")),
        weight = (cloudEl.offsetWidth + cloudEl.offsetHeight) / 8 / cloudData[0][1], // 以调用次数最多的词为基准缩放比例
		cloudOption = {
			list: cloudData,
			color: getColor,
            weightFactor: weight,
            backgroundColor: "rgba(0,0,0,0)",
            rotateRatio: 0,
            shape: "square",
            ellipticity: 1, // 变形范围
            shrinkToFit: true, // 将过大的词组缩放后放入
            click(item,dimension,event){
            	console.log(item,dimension,event)
            }
		}
		WordCloud(cloudEl, cloudOption );
	} else {
		// 列表标签模式

	}
	
</script>
<%- js('js/right-aside.js') %>
