<!-- 右侧栏 -->
<%- css('css/right-aside.css') %>
<%
	let tagArr = [];
	// 标签云数据源
	site.posts.forEach(data => {
		data.tags.forEach(tag => {
			let index = tagArr.findIndex((el, index, arr) => {
				if (el[0] === tag.name) {
					return true;
				}
				return false;
			})
			if (index === -1) {
				tagArr.push([tag.name,1,1,tag.permalink]);
			} else {
				++tagArr[index][1];
				++tagArr[index][2];
			}
		})
	})
	// 排序
	tagArr.sort((d1,d2) => d2[1] - d1[1]);
%>
<div class="right-aside">
	<!-- 切换栏 -->
    <div class="switch-table">
    	<div class="btn-item">
    		<span class="active-bar"></span>
    		<div title-del="随机文章" class="btn">
    			<i class="icons i-random"></i>
    		</div>
    		<div title-del="热门文章" class="btn">
    			<i class="icons i-hot"></i>
    		</div>
    		<div title-del="最新回复" class="btn">
    			<i class="icons i-message"></i>
    		</div>
    	</div>
    	<div class="switch-list">
    		<div class="list-row">
    			<div class="row-title">
    				随机文章
    			</div>
    			<div class="row-title">
    				热门文章
    			</div>
    			<div class="row-title">
    				最新回复
    			</div>
    		</div>
    		<div class="list-row">
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">随机推荐-标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">最热-标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <div class="user-avatar">
			            <img src="/img/un_avatar.png">
			        </div>
			        <div class="on-msg">
			            <a href="" title="跳转到留言文章" title="用户名" class="of-ellipsis">用户名</a>
			            <p class="msg-content of-ellipsis-2">留言内容</p>
			        </div>
			    </div>
			</div>
			<div class="list-row">
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">随机推荐-标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">最热-标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <div class="user-avatar">
			            <img src="/img/un_avatar.png">
			        </div>
			        <div class="on-msg">
			            <a href="" title="跳转到留言文章" title="用户名" class="of-ellipsis">用户名</a>
			            <p class="msg-content of-ellipsis-2">留言内容</p>
			        </div>
			    </div>
			</div>
			<div class="list-row">
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">随机推荐-标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">最热-标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <div class="user-avatar">
			            <img src="/img/un_avatar.png">
			        </div>
			        <div class="on-msg">
			            <a href="" title="跳转到留言文章" title="用户名" class="of-ellipsis">用户名</a>
			            <p class="msg-content of-ellipsis-2">留言内容</p>
			        </div>
			    </div>
			</div>
			<div class="list-row">
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">随机推荐-标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">最热-标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <div class="user-avatar">
			            <img src="/img/un_avatar.png">
			        </div>
			        <div class="on-msg">
			            <a href="" title="跳转到留言文章" title="用户名" class="of-ellipsis">用户名</a>
			            <p class="msg-content of-ellipsis-2">留言内容</p>
			        </div>
			    </div>
			</div>
			<div class="list-row">
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">随机推荐-标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">最热-标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <div class="user-avatar">
			            <img src="/img/un_avatar.png">
			        </div>
			        <div class="on-msg">
			            <a href="" title="跳转到留言文章" title="用户名" class="of-ellipsis">用户名</a>
			            <p class="msg-content of-ellipsis-2">留言内容</p>
			        </div>
			    </div>
			</div>
			<div class="list-row">
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">随机推荐-标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <a href="" class="of-ellipsis-2">最热-标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
			        <i class="icons i-see of-ellipsis">1256</i>
			        <div class="bgi">
			            <img src="/img/bgi_2.jpg">
			        </div>
			    </div>
			    <div class="row-box">
			        <div class="user-avatar">
			            <img src="/img/un_avatar.png">
			        </div>
			        <div class="on-msg">
			            <a href="" title="跳转到留言文章" title="用户名" class="of-ellipsis">用户名</a>
			            <p class="msg-content of-ellipsis-2">留言内容</p>
			        </div>
			    </div>
			</div>
			
    	</div>
    </div>
    <!-- 标签云 -->
    <div class="tag-cloud">
    	<p class="title" title="找找有没有你感兴趣的?">标签云</p>
    	<div id="cloud-box">
<%
	tagArr.forEach(el => {
%>
			<a href="<%- el[3] %>">
    			<p><%- el[0] %></p>
    			<div class="fixed-tag">
    				这有<%- el[2] %>篇文章
    			</div>
    		</a>
<%
	})
%>
    	</div>
    </div>
</div>
<%- js('js/chineseColor.js') %>
<%- js('js/wordcloud2.js') %>
<script type="text/javascript">
	let ranNum = Math.floor(Math.random()*chineseColor.length),
		getColor = function () {
			++ranNum;
			if (!chineseColor[ranNum]) {
				ranNum = 0;
			}
			return chineseColor[ranNum][1];
		}
	let cloudEl = document.querySelector("#cloud-box");
		// cloudEl.width = 220 * 2;
		// cloudEl.height = 180 * 2;

	// dom词云模式
	if (false) {
		let cloudData = JSON.parse(decodeURIComponent("<%= encodeURIComponent(JSON.stringify(tagArr)) %>")),
        weight = (cloudEl.offsetWidth + cloudEl.offsetHeight) / 8 / cloudData[0][1], // 以调用次数最多的词为基准缩放比例
		cloudOption = {
			list: cloudData,
			color: getColor,
            weightFactor: weight,
            backgroundColor: "rgba(0,0,0,0)",
            rotateRatio: 0,
            shape: "square",
            ellipticity: 1, // 变形范围
            shrinkToFit: true, // 将过大的词组缩放后放入
            click(item,dimension,event){
            	console.log(item,dimension,event)
            }
		}
		WordCloud(cloudEl, cloudOption );
	} else {
		// 列表标签模式

	}
	
</script>
<%- js('js/right-aside.js') %>
